.onboarding-page {
    font-family: "Noto Sans KR", sans-serif;
    height: 50%;
}

.header {
    margin-bottom: 20px;
}

.header-box{
    display:flex;
    justify-content: center;
}

.onboarding-body {
    padding: 10px;
}

.onboarding-svg-box-status-gauge{
    display: flex;
}

.status-gauge {
    margin-top: 60px;
    margin-bottom: 46px;
    font-size: 16px;
    display: flex;
    align-items: center;       /* 수평 가운데 정렬 */
    justify-content: center;   /* 수직 가운데 정렬 */
    position: fixed;
    background-color: #FDFDFD;
    border: 1px solid #F6F6F6; /* 박스에 테두리 추가 */
    padding: 7px 4px 0 4px;
    border-radius: 10px;       /* 테두리 모서리 곡률 설정 */
    text-align: center;        /* 중앙 정렬 */
    width: 40%;                /* 박스의 가로 크기 설정 */
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 500;
}

.status-gauge-container {
    width: 90%;                /* 프로그래스 바의 너비 설정 */
    margin-left: 10px;         /* 왼쪽에 조금 여백 추가 */
    padding: 0 3px 0 3px;
    border-radius: 10px;
    text-align: center;
}

.progress-bar {
    width: 100%;
    height: 10px;
    border-radius: 10px; /* 전체 바에 곡률 적용 */
    appearance: none;
    background-color: #f3f3f3; /* 배경색을 추가하여 바가 채워지지 않은 부분이 보이도록 */
}

.progress-bar::-webkit-progress-bar {
    border-radius: 10px; /* 전체 바에 곡률 적용 */
    background-color: #f3f3f3; /* 배경색 */
}

.progress-bar::-webkit-progress-value {
    background: linear-gradient(90deg, #7031FC 0%, #C9B1FF 100%);
    border-radius: 10px; /* 진행 상태 부분에도 곡률 적용 */
}

.progress-bar::-moz-progress-bar {
    border-radius: 10px; /* 전체 바에 곡률 적용 */
    background-color: #8e44ad ;
}

.progress-text {
    margin-top: 5px; /* 프로그래스 바와 텍스트 간 간격 */
    margin-bottom: 2px;
    font-size: 14px;
}

.item-box-inner {
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.checklist-item-box-container {
    align-items: flex-start !important;
    padding-left: 2rem;
}

.item-container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;  /* 기본값을 왼쪽 정렬로 설정 */
    gap: 40px;  /* 박스 간의 간격 */
    position: relative; /* 부모 요소의 position을 relative로 설정 */
}

.item-box {
    max-width: 300px;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 20px;
    display: inline-block;
    flex-direction: column;
    font-size: 14px;
    position: absolute;
    cursor: grab;
}

/* 마지막 줄에서 2개만 있을 때 왼쪽 정렬을 강제하기 위한 설정 */
.item-container-wrapper::after {
    content: "";
    flex-basis: 100%; /* 강제로 마지막 줄의 정렬을 왼쪽으로 맞추기 */
}

.item-header {
    width: 300px;
    height: 40.294px;
    border-radius: 10px 10px 0px 0px;
    background: #F6F6F6;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.templateTitle{
    padding:10px;
}

.item-content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: white;
    border-radius: 0 0 10px 10px;
}

.line-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    overflow: visible;
}

.item-content.completed {
    background-color: #E5D4F8 !important;
}

.templateDetail{
    margin: 20px 0 15px 0;
    font-size: 14px;
    max-width: 280px;
}

.loading {
    text-align: center;
    font-size: 18px;
}

.template-button {
    width: 145px;
    height: 29px;
    border-radius: 10px;
    border: none; /* 테두리 제거 */
    outline: none; /* 포커스 시 외곽선 제거 */
    color: #FDFDFD;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none; /* 버튼 내부의 텍스트 링크 밑줄 제거 */
    transition: background 0.3s ease; /* 호버 시 애니메이션 효과 */
    margin: 0 0 15px 0;
}
.template-download-button{
    width: 145px;
    height: 29px;
    border-radius: 10px;
    border: none; /* 테두리 제거 */
    outline: none; /* 포커스 시 외곽선 제거 */
    color: #FDFDFD;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none; /* 버튼 내부의 텍스트 링크 밑줄 제거 */
    transition: background 0.3s ease; /* 호버 시 애니메이션 효과 */
    margin: 0 0 15px 0;
    background-color: var(--gray);
}

.go-to-quiz-button, .go-to-Break-button, .go-to-CF-button{
    width: 60%;
    height: 40px;
    border-radius: 10px;
    border: transparent;
    margin: 5px 0;
    font-size: 11px;
    cursor: pointer;
    font-weight: 600;
    background-color: var(--yellow);
}

.template-confirm-button {
    background: var(--purple);
}

.template-confirm-button:hover {
    background-color: var(--dark-purple);
}

.template-complete-button {
    background-color: var(--yellow);
}

.template-complete-button:hover {
    background-color: var(--dark-yellow);
}

.checklist-content{
    display:flex;
    margin-bottom: 10px;
}
.bar,
.bar2{
    width: 300px;
    height: auto;
}
.alarm-button,
.alarm-button-img{
    width:27px;
    height: 27px;
    margin:0 10px 0 0;
}
.alarm-button{
    padding: 0;
    border: none;
    background-color: #FDFDFD;
}
.alarm-button-img{
    margin:0;
}
.alarm-button-img:hover{
    margin:0;
    cursor: pointer;
    background-color: #fdfdfd;
}

.checklist-checkbox {
    width: 24px;            /* 체크박스 크기 */
    height: 24px;           /* 체크박스 크기 */
    border-radius: 50%;     /* 동그란 모양 */
    appearance: none;       /* 기본 체크박스 스타일 제거 */
    background-color: #fff; /* 배경색 */
    border: 2px solid #ccc; /* 테두리 색 */
    outline: none;          /* 포커스 시 outline 제거 */
    cursor: pointer;       /* 마우스를 올렸을 때 포인터로 변경 */
    transition: all 0.3s ease; /* 애니메이션 추가 */
    margin: 0 10px 0 0;
}

/* 체크된 상태 스타일 */
.checklist-checkbox:checked {
    background-color: var(--purple); /* 체크된 상태 배경색 */
    border-color: var(--purple);     /* 체크된 상태 테두리 색 */
    position: relative;
}

.checklist-checkbox:checked::after {
    content: '✔';
    position: absolute;
    top: 4px;
    left: 6px;
    width: 20px;  /* 체크 표시 크기 */
    height: 20px; /* 체크 표시 크기 */
    color:white;
}

.checklist-inner{
    font-size:16px;
    padding: 1px 0 0 0;
}

.checklist-bigBox{
    margin: 0 0 10px 0;
}

.canvas {
    width: 100%;
    height: 80vh;
    position: relative
}

.loading-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.spinner {
    border: 4px solid var(--yellow);
    border-top: 4px solid var(--purple);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.modal-content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 14vw;
    overflow: visible;
}

.video-modal{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-modal-size {
    width: 80vw;
    height: 60vh;
}

.default-modal-size {
    width: 50vw;
    height: auto;
}

.iframe-main-page{
    margin-bottom: 2vh;
}

.check-task-button, .cw-eval-button, .close-button{
    width: 60%;
    height: 40px;
    border-radius: 10px;
    border: transparent;
    margin: 5px 0;
    font-size: 11px;
    cursor: pointer;
    font-weight: 600;
}

.check-task-button, .cw-eval-button {
    background-color: var(--yellow);
}

.modal-content > p {
    font-size: 14px;
}


