.final-eval-result-list{
    width: 100%;
}
.final-eval-result-list .page-container {
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.final-eval-result-list .page-title {
    font-size: 30px;
    font-weight: bold;
    margin: 6.562rem 0 2.88rem 0;
}

.final-eval-result-list .content-header, .content-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 620px;
}

.final-eval-result-list .white-box-component {
    min-width: 640px;
}

.final-eval-result-list .content-items {
    margin: 5px 20px;
    width: 96%;
}
.final-eval-result-list .content-header > div {
    flex: 1.5;
    text-align: center;
    margin-right: 10px;
}

.final-eval-result-list .content-header > div:last-child {
    flex: 1;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

.final-eval-result-list .content-items > div {
    flex: 1.5;
    text-align: center;
    margin-right: 10px;
}

.final-eval-result-list .content-items > div:last-child {
    flex: 1;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

.final-eval-result-read-button {
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
    color: var(--white);
    width: 6.5rem;
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}