.page-container {
    width: 70%;
}

.page-title {
    font-size: 35px;
    font-weight: bold;
}

.white-box-component {
    min-width: 560px;
}

.content {
    justify-content: space-between;
    margin: 4rem;
    flex-wrap: wrap;
}

.left-container {
    margin-right: 1rem;
}

.profile-img {
    width: 10.5rem;
    height: 10.5rem;
    border-radius: 50%;
}

.employee-info-container {
    margin: 2.2rem;
}

.employee-info-container > div:first-child {
    margin-bottom: 0.75rem;
}

.employee-info-container > div:last-child {
    margin-top: 0.1rem;
}

.font-25-bold {
    font-size: 25px;
    font-weight: bold;
}

.employee-sub-info {
    font-size: 20px;
    font-weight: 500;
    margin: 1.38rem;
}

.employee-sub-info > div {
    margin: 1.1rem 0;
}

.employee-sub-info-title {
    margin-right: 5.8rem;
}

.purple-border-container {
    width: 25rem;
    border: 2px solid var(--purple);
    border-radius: 10px;
    padding: 1rem 4rem;
    margin-top: 1rem;
    box-sizing: border-box;
}

.final-eval-result {
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
}

.final-eval-result > div {
    margin: 0.3rem 0;
}

.final-total-score-container {
    justify-content: space-between;
    padding: 1rem 4rem;
    box-sizing: border-box;
}

.final-total-score-container > div:first-child {
    font-size: 23px;
    font-weight: bold;
}

.final-total-score {
    color: var(--purple);
    font-size: 25px;
    font-weight: bold;
}

.close-button-container {
    justify-content: center;
    align-items: center;
}

.close-button {
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
    color: var(--white);
    width: 6.5rem;
    height: 2.3rem;
    cursor: pointer;
    border-radius: 15px;
    border: none;
}