<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.hi_hello_spring.test.query.mapper.TestMapper">

    <!-- 모든 Test 데이터를 가져오는 SQL -->
    <select id="findAllTests" resultType="TestAllQueryDTO">
        SELECT
            id,
            content
        FROM
            test
    </select>

    <!-- 특정 ID로 Test 데이터를 가져오는 SQL -->
    <select id="findTestById" parameterType="long" resultType="TestQueryDTO">
        SELECT
            content
        FROM
            test
        WHERE
            test_seq = #{testSeq}
    </select>
</mapper>