files:
  "/sbin/appstart":
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
      #!/usr/bin/env bash
      JAR_PATH=/var/app/current/application.jar

      # 환경 변수 설정 (필요 시 추가)
      export RDS_DOMAIN="${RDS_DOMAIN}"
      export RDS_URL="${RDS_URL}"
      export RDS_PORT="${RDS_PORT}"
      export RDS_DB_NAME="${RDS_DB_NAME}"
      export RDS_USERNAME="${RDS_USERNAME}"
      export RDS_PASSWORD="${RDS_PASSWORD}"
      export REDIS_HOST="${REDIS_HOST}"
      export REDIS_PORT="${REDIS_PORT}"
      export REDIS_PASSWORD="${REDIS_PASSWORD}"
      export S3_BUCKET_NAME="${S3_BUCKET_NAME}"
      export S3_ACCESS_KEY="${S3_ACCESS_KEY}"
      export S3_SECRET_KEY="${S3_SECRET_KEY}"
      export TOKEN_SECRET="${TOKEN_SECRET}"
      export MONGO_USER_NAME="${MONGO_USER_NAME}"
      export MONGO_PASSWORD="${MONGO_PASSWORD}"
      export MONGO_HOST="${MONGO_HOST}"
      export MONGO_PORT="${MONGO_PORT}"
      export MONGO_DATABASE="${MONGO_DATABASE}"
      export KAFKA_BOOTSTRAP_SERVER="${KAFKA_BOOTSTRAP_SERVER}"
      export ELASTIC_URIS="${ELASTIC_URIS}"
      export ELASTIC_USER="${ELASTIC_USER}"
      export ELASTIC_PASSWORD="${ELASTIC_PASSWORD}"

      # 애플리케이션 실행
      killall java || true
      java -Dfile.encoding=UTF-8 -jar $JAR_PATH

option_settings:
  aws:elasticbeanstalk:application:environment:
    RDS_DOMAIN: "${RDS_DOMAIN}"
    RDS_URL: "${RDS_URL}"
    RDS_PORT: "${RDS_PORT}"
    RDS_DB_NAME: "${RDS_DB_NAME}"
    RDS_USERNAME: "${RDS_USERNAME}"
    RDS_PASSWORD: "${RDS_PASSWORD}"
    REDIS_HOST: "${REDIS_HOST}"
    REDIS_PORT: "${REDIS_PORT}"
    REDIS_PASSWORD: "${REDIS_PASSWORD}"
    S3_BUCKET_NAME: "${S3_BUCKET_NAME}"
    S3_ACCESS_KEY: "${S3_ACCESS_KEY}"
    S3_SECRET_KEY: "${S3_SECRET_KEY}"
    TOKEN_SECRET: "${TOKEN_SECRET}"
    MONGO_USER_NAME: "${MONGO_USER_NAME}"
    MONGO_PASSWORD: "${MONGO_PASSWORD}"
    MONGO_HOST: "${MONGO_HOST}"
    MONGO_PORT: "${MONGO_PORT}"
    MONGO_DATABASE: "${MONGO_DATABASE}"
    KAFKA_BOOTSTRAP_SERVER: "${KAFKA_BOOTSTRAP_SERVER}"
    ELASTIC_URIS: "${ELASTIC_URIS}"
    ELASTIC_USER: "${ELASTIC_USER}"
    ELASTIC_PASSWORD: "${ELASTIC_PASSWORD}"
