<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.hi_hello_spring.group.query.mapper.TaskGroupMapper">

    <select id="getTaskGroupList" resultType="TaskGroupListQueryDTO">
        SELECT
            tg.task_group_seq
        FROM
            task_group tg
        WHERE
            tg.task_seq = #{taskSeq}
        ORDER BY
            tg.task_group_seq
    </select>
</mapper>