files:
  "/sbin/appstart":
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
      #!/bin/bash
      set -e

      # FastAPI 앱 실행
      source /var/app/current/venv/bin/activate
      poetry run uvicorn appstart:app --host 0.0.0.0 --port 8000

option_settings:
  aws:elasticbeanstalk:application:environment:
    ENV: production
    DATABASE_URL: "{DATABASE_URL}"
    PINECONE_API_KEY: "{PINECONE_API_KEY}"
    PINECONE_ENV: "{PINECONE_ENV}"
    PINECONE_HOST: "{PINECONE_HOST}"
    AWS_ACCESS_KEY_ID: "{AWS_ACCESS_KEY_ID}"
    AWS_SECRET_ACCESS_KEY: "{AWS_SECRET_ACCESS_KEY}"
    UPSTAGE_API_KEY: "{UPSTAGE_API_KEY}"

commands:
  # Nginx 설정 활성화 및 재시작
  01_enable_nginx:
    command: |
      sudo systemctl enable nginx
      sudo systemctl restart nginx

container_commands:
  # Poetry 설치 및 의존성 관리
  01_install_poetry:
    command: |
      curl -sSL https://install.python-poetry.org | python3 -
      export PATH="$HOME/.local/bin:$PATH"
      poetry config virtualenvs.in-project true  # 가상 환경을 프로젝트 내에 생성
      poetry install --no-root

  # FastAPI 앱 실행
  02_start_application:
    command: |
      export PATH="$HOME/.local/bin:$PATH:$PWD/venv/bin"
      poetry run uvicorn appstart:app --host 0.0.0.0 --port 8000
