# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
.myenv/
*.env

# Poetry virtual environment
poetry/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.whl

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.iml

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test coverage
.coverage
htmlcov/

# MyPy type checker cache
.mypy_cache/
.dmypy.json
dmypy.json

# Bandit security linter
.bandit

# Local environment files
.env
.env.*