<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.hi_hello_spring.wiki.query.mapper.WikiMapper">
    <!-- 위키 리스트를 조회하는 SQL -->
    <select id="findAllWikis" resultType="WikiListQueryDTO">
        SELECT
            w.wiki_seq,
            w.wiki_title,
            wmc.employee_seq,
            e.employee_num,
            e.employee_name,
            wmc.reg_date AS latest_mod_date
        FROM
            wiki w
        JOIN
            (SELECT
                *,
                ROW_NUMBER() OVER (PARTITION BY wiki_seq ORDER BY reg_date DESC) AS seq
            FROM
                wiki_mod_content
            ) wmc ON wmc.wiki_seq = w.wiki_seq
        JOIN
            employee e ON wmc.employee_seq = e.employee_seq
        WHERE
            seq = 1 AND w.wiki_deleted_status = false
        ORDER BY latest_mod_date DESC
    </select>

    <!--위키 히스토리를 조회하는 SQL-->
    <select id="findWikiHistories" resultType="WikiHistoryListQueryDTO">
        SELECT
            wm.employee_seq,
            e.employee_num,
            e.employee_name,
            wm.wiki_mod_content_seq,
            wm.reg_date
        FROM
            wiki_mod_content wm
        JOIN
            employee e ON wm.employee_seq = e.employee_seq
        WHERE wm.wiki_seq = #{wiki_seq}
        ORDER BY reg_date DESC
    </select>
</mapper>