.group-eval-main-container {
    width: 100%;
}

.group-eval-main-container .group-eval-header {
    display: flex;
    font-size: 40px;
    font-weight: bold;
    margin: 105px 0 46px 0;
    justify-content: center;
}
.group-eval-main-container .member-button {
    display: block;
    width: 100px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.group-eval-main-container .member-button:hover {
    background-color: #e0e0e0;
}

.group-eval-main-container .member-button.selected {
    background-color: var(--purple);
    color: var(--white);
    font-weight: bold;
    border-color:  var(--purple);
}

.group-eval-main-container .group-eval-list-container{
    display:flex;
    width: 100%;
    justify-content: center;
    margin: 20px 0 0 0 ;

}

.group-eval-main-container .group-eval-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 70px;
}

.group-eval-main-container .group-eval-title-inner{
    font-size: 20px;
}

.group-eval-main-container .group-eval-title-inner-content{
    font-size: 20px;
    width: 40%;
    justify-content: center;
    text-align: center;
}

.group-eval-main-container .group-eval-cow {
    width: 100px;
    font-size: 20px;
    margin: 0 10px;
}

.group-eval-main-container .group-eval-body {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.group-eval-main-container .groupReviewInputBox{
    width: 50px;
    height: 25px;
    border-radius: 10px;
    box-shadow: none;
    text-align: center;
}

.group-eval-main-container .groupReviewInputBox::placeholder{
    text-align: center;
}

.group-eval-main-container .peerReviewListContainer{
    display:flex;
    width: 100%;
}

.group-eval-main-container .peerReviewListContainerInner{
    display:flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 80px 0 110px;
    align-items:center;
}

.group-eval-main-container .peerReviewListContent{
    width: 43%;
    text-align: center ;
}

.group-eval-main-container .group-eval-cowList-inner {
    display: flex;
    margin-left: 15%;
}

.group-eval-main-container .group-eval-list {
    width: 70%;
    justify-content: center;
    padding: 26px 40px;
    background-color: var(--white);
    border-radius: 10px;
}

.group-eval-main-container .group-eval-saveButton {
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;
}

.group-eval-main-container .group-eval-saveButton-real{
    border: none;
    background-color: var(--purple);
    width: 80px;
    height: 35px;
    border-radius: 10px;
    font-size:20px;
    color: var(--white);
}