.group-eval-main-container {
    font-family: "Noto Sans KR", sans-serif;
    width: 100%;
}

.group-eval-header {
    display: flex;
    font-size: 40px;
    font-weight: bold;
    margin: 105px 0 46px 0;
    justify-content: center;
}
.member-button {
    display: block;
    width: 100px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: #f5f5f5; /* 기본 배경색 */
    color: #333; /* 기본 텍스트 색상 */
    border: 1px solid #ddd; /* 기본 테두리 */
    border-radius: 10px; /* 모서리를 둥글게 */
    cursor: pointer; /* 마우스 포인터 */
    transition: background-color 0.3s, color 0.3s; /* 부드러운 전환 효과 */
}

.member-button:hover {
    background-color: #e0e0e0; /* 마우스 오버 시 배경색 */
}

.member-button.selected {
    background-color: var(--purple); /* 선택된 상태의 배경색 */
    color: white; /* 선택된 상태의 텍스트 색상 */
    font-weight: bold; /* 선택된 상태에서 텍스트를 굵게 */
    border-color:  var(--purple); /* 선택된 상태의 테두리 색상 */
}

.group-eval-list-container{
    display:flex;
    width: 100%;
    justify-content: center;
    margin: 20px 0 0 0 ;

}

.group-eval-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 70px;
}

.group-eval-title-inner{
    font-size: 20px;
}

.group-eval-title-inner-content{
    font-size: 20px;
    width: 40%;
    justify-content: center;
    text-align: center;
}

.group-eval-cow {
    width: 100px;
    font-size: 20px;
    margin: 0 10px;
}

.group-eval-body {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.groupReviewInputBox{
    width: 50px;
    height: 25px;
    border-radius: 10px;
    box-shadow: none;
    text-align: center;
}

.groupReviewInputBox::placeholder{
    text-align: center;
}

.peerReviewListContainer{
    display:flex;
    width: 100%;
}

.peerReviewListContainerInner{
    display:flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 80px 0 110px;
    align-items:center;
}

.peerReviewListContent{
    width: 43%;
    text-align: center ;
}

.group-eval-cowList-inner {
    display: flex;
    margin-left: 15%;
}

.group-eval-list {
    width: 70%;
    justify-content: center;
    padding: 26px 40px;
    background-color: white;
    border-radius: 10px;
}

.group-eval-saveButton {
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;
}

.group-eval-saveButton-real{
    border-color:#D9D9D9;
    background-color: var(--purple);
    width: 80px;
    height: 35px;
    border-radius: 10px;
    font-size:20px;
}