
.peer-review__container {
    width: 80vw;
    margin: 0 auto;
}

.peer-review__container h1{
    text-align: center;
    margin: 50px 0;
    font-size: 35px;
    color: var(--black);
    font-weight: bold;
}

.peer-review__header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 5vw;
}

.peer-review__dropdown-wrapper {
    display: flex;
    gap: 10px;
}

.peer-review__dropdown {
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 20vw;
}

.peer-review__group-dropdown {
    width: 5vw;
}

.peer-review__list-wrapper {
    margin-top: 10px;
}

.peer-review__list-header, .peer-review__result-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.peer-review__list-column {
    flex: 1; 
    text-align: center;
    box-sizing: border-box;
}

.peer-review__detail-btn {
    background-color: var(--purple);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 12px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.peer-review__detail-btn:hover {
    background-color: var(--blue);
}

