.onboarding-page-title{
    font-weight: 700;
    font-size: 20px;
}
.small-notice{
    font-weight: 400;
    font-size: 10px;
    color: var(--gray);
    margin-bottom: 10px;
}
.onboarding-total-container{
    display: flex;
    width: 80%;
}
.onboarding-list-delete{
    color: var(--red);
    border: none;
    border-radius: 100%;
    background-color: var(--white);
}
.onboarding-title{
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.onboarding-ul{
    padding: 0;
    margin: 0;
}
.onboarding-li{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.onboarding-data-sidebar {
    width: 25%;
    background: var(--white);
    padding: 30px;
    padding-left: 50px;
    border-radius: 10px 0px 0px 10px;
    border-right: 2px solid var(--gray);
}
.onboarding-order{
    list-style: none;
    padding: 7px;
    background-color: var(--purple);
    border-radius: 20%;
    height: 17px;
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 6px;
}
.yellow-circle{
    background-color: var(--yellow);
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.onboarding-data-form label{
    font-size: 15px;
    font-weight: 700;
    width: 80px;
}
.plus-check-list{
    list-style: none;
    margin: 10px 10px 10px 115px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.plus-check-list-delete{
    border: none;
    background-color: var(--gray);
    border-radius: 10px;
    height: 30px;
    padding: 0px 10px;
}
.onboarding-data-submit{
    border-radius: 10px;
    height: 33px;
    background-color: var(--purple);
    border: none;
    color: var(--white);
    width:30%;
    margin-top: 30px;
    transition: background-color 0.3s ease; /* 배경색 변화 효과 */
}

.onboarding-data-submit:hover{
    background-color: var(--dark-purple);
}
.onboarding-data-form input, select{
    border-radius: 10px;
    background-color: var(--ivory);
    height: 33px;
    border: none;
    padding-left: 10px;
}
.onboarding-data-line{
    display: flex;
    align-items: center;
    margin: 5px;
}
.onboarding-data-label{
    width: 150px;
}
.onboarding-data-form input[type="datetime-local"] {
    padding-right: 10px;
}
.onboarding-data-form input[type="text"] {
    width: 50%;
}
.onboarding-data-line .file_button {
    border-radius: 10px;
    background-color: var(--ivory);
    padding-left: 15px;
    display: flex;
    align-items: center;
    height: 33px;
    width: 50%;
}
.onboarding-data-line #file-name {
    font-size: 14px;
    color: var(--gray);
    margin-top: 10px;
}

.onboarding-check-list-add-button{
    background: var(--purple);
    border: none;
    border-radius: 10px;
    color: var(--white);
    height: 33px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 155px;
    margin-top: 10px;
    transition: background-color 0.3s ease; /* 배경색 변화 효과 */
}

.onboarding-check-list-add-button:hover{
    background-color:var(--dark-purple)
}

.onboarding-data-submit-container{
    display: flex;
    justify-content: center;
}

.onboarding-data-line textarea{
    width: 52%;
    height: 150px;
    border-radius: 10px;
    background-color: var(--ivory);
    border:none;
}

.onboarding-data-page-title{
    font-size: 30px;
    font-weight: 600;
    margin-top: 105px;
    margin-bottom: 49px;
}

.onboarding-data-insert-container{
    margin: 30px 0px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px); /* 배경에 블러 효과 추가 */
    -webkit-backdrop-filter: blur(3px); /* Safari 지원 */
}

.modal-content {
    background-color: white;
    padding: 36px;
    border-radius: 5px;
    position: relative;
    z-index: 10; /* 모달 내용이 블러 배경 위에 올 수 있도록 */
}

.onboarding-button-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}