<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.hi_hello_spring.onboarding.query.mapper.TemplateMapper">

    <select id="findAllTemplate" resultType="TemplateAllQueryDTO">
        SELECT
            template_seq,
            template_title,
            template_procedure
        FROM
            template
        ORDER BY
            template_procedure ASC;
    </select>

    <select id="findTemplateTaskRound" resultType="TemplateTaskRoundDTO">
        SELECT
        tm.template_seq,
        tm.template_task_round
        FROM
        template tm
        WHERE
        tm.template_task_round IS NOT NULL
        AND (
        (#{employeeRole} = 'mentor' AND tm.template_training_type = 'JOB')
        OR (#{employeeRole} = 'hr' AND tm.template_training_type = 'COMMON')
        );
    </select>
</mapper>