.editor-component-container {
    width: 100%;
    margin: 0 auto;
    height: 90%;
    min-height: 15rem;
    max-height: 200rem;
    padding: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.editor-component-container .control-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.editor-component-container .button-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.4rem;
}

.editor-component-container .button-group button {
    background-color: transparent;
    border: none;
    width: 2.6rem;
    height: 2.8rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease; 
}

.editor-component-container .button-group button:disabled {
    color: var(--gray);
    background-color: var(--white);
    border-color: var(--light-gray);
    cursor: not-allowed;
}

.editor-component-container .button-group button:hover:not(:disabled) {
    background-color: var(--white);
    border-color: var(--light-gray);
}

.editor-component-container .button-group button i {
    font-size: 1rem;
    color: var(--black);
}

.editor-component-container .button-group button.is-active {
    background-color: var(--light-purple);
}

.editor-component-container .button-group button.is-active i {
    color: var(--purple);
}

.editor-component-container .editor-container {
    height: 90%;
    max-height: 200rem;
}

.editor-component-container .editor-content {
    background: var(--white);
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    padding: 0 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    white-space: pre-wrap;
    height: 90%;
}

.editor-component-container .editor-component-file {
    display: none;
}

.editor-component-container .file-upload {
    background-color: transparent;
    border: none;
    width: 1.6rem;
    height: 1.8rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editor-component-container .file-upload i {
    font-size: 1rem;
    color: var(--black);
}

.editor-component-container .file-upload:hover:not(:disabled) {
    background-color: var(--light-gray);
}

.editor-component-container .file-upload:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.editor-component-container .file-upload:disabled i {
    color: var(--gray);
}

.editor-component-container .ProseMirror {
    outline: none;
}