.task-eval-result-list-container .flex {
    display: flex;
    align-items: center;
}

.task-eval-result-list-container .font18 {
    font-size: 18px;
}

.task-eval-result-list-container .modal-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.task-eval-result-detail-read-modal-table-row .table-left{
    font-weight: 600;
}
.task-eval-result-list-container .modal-content-container {
    width: 60%;
    height: 600px;
    background-color: var(--white);
    padding: 4.8rem;
    box-sizing: border-box;
    overflow-y: auto;
    border-radius: 8px;
}

.task-eval-result-list-container .modal-content-container {
    align-items: center;
}

.task-eval-result-list-container .modal-content-container > table:first-child {
    width: 95%;
    margin: 2rem auto;
}

/* 클릭 시 모달 닫기, 버튼과 모달 외부 클릭 방지*/
.task-eval-result-list-container .modal-content-container, .modal-container {
    pointer-events: auto;
}

.task-eval-result-list-container .task-eval-result-detail-read-modal-table-row > td:first-child {
    width: 20%;
}

.task-eval-result-list-container .task-eval-result-detail-result-modal-td {
    margin: 0 1rem;
}

.task-eval-result-detail-result-modal-submitter-container {
    position: relative;
}

.task-eval-result-list-container .gray-hr {
    border: 1px solid var(--gray);
}

.task-eval-result-list-container .button {
    width: 6.5rem;
    height: 2.3rem;
    cursor: pointer;
    border-radius: 15px;
    border: none;
}

.task-eval-result-list-container .purple-button {
    background-color: var(--purple);
    color: var(--white);
    margin-left: 2rem;
    font-size: 16px;
}

.task-eval-result-list-container .task-eval-table {
    width: 95%;
    border-collapse: collapse;
    margin: 2.5rem auto;
}

.task-eval-result-list-container .task-eval-table th, .task-eval-table td {
    border: 2px solid var(--light-gray);
    padding: 8px;
    text-align: center;
}

.task-eval-result-list-container .yellow-button-container {
    text-align: center;
}

.task-eval-result-list-container .yellow-button {
    background-color: var(--yellow);
    color: var(--black);
}