.hr-quiz-result-container {
    width: 80vw;
    margin: 0 auto;
}

.hr-quiz-result-container h1 {
    text-align: center;
    margin: 50px 0;
    font-size: 35px;
    color: #333;
    font-weight: bold;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.quiz-category-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.list-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.hr-quiz-result-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 7px;
    border-radius: 10px;
    width: auto;
    max-width: none;
    white-space: nowrap;
    overflow: visible;
}

.list-header,
.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.column {
    text-align: center;
    flex: 1;
    color: #333;
}

.header-number, .item-number {
    flex: 0.5;
}

.header-score, .item-score {
    flex: 1;
}
.hr-quiz-result-page-title{
    font-size: 35px;
    font-weight: 600;
    margin-top: 105px;
    margin-bottom: 49px;
    text-align: center;
}