<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.hi_hello_spring.quiz.query.mapper.QuizCategoryMapper">

    <select id="findAllQuizCategory" resultType="QuizCategoryAllQueryDTO">
        SELECT
            quiz_category_seq,
            quiz_category_name
        FROM
            quiz_category
    </select>
</mapper>