.grouping-page-total-box .group-name{
    height: 100%;
    background-color: white;
    padding-right: 20px;
    white-space: nowrap;
    font-weight: 600;
}
.grouping-page-total-box .group-num{
    width: 50px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--ivory);
    border: none;
    padding-left: 20px;
}
.grouping-page-total-box .group-line{
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 20px;
    margin-bottom: 40px;
}
.grouping-page-total-box .line{
    border-left: 2px solid var(--gray);
    padding-left: 20px;
}
.grouping-page-total-box .submit-box{
    display: flex;
    justify-content: center;
}
.grouping-page-total-box .inline{
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
}
.grouping-page-total-box .sub-total-box{
    display: flex;
    justify-content: space-evenly;
}
.grouping-page-total-box .group-container{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.grouping-page-total-box .click{
    display: flex;
    white-space: nowrap;
    align-items: center;
    margin: 5px;
}
.grouping-page-total-box{
    width: 80%;
}
.grouping-page-total-box .pagetitle{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 49px;
}
.grouping-page-total-box .groups {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    flex-direction: column;
}
.grouping-page-total-box .group {
    flex: 1 1 30%;
    background-color: var(--ivory);
    text-align: center;
    display: flex;
    align-items: center;
}

.grouping-page-total-box .submit{
    border-radius: 10px;
    background: #7031FC;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    width: 111px;
    height: 43px;
}
.grouping-page-total-box .list{
    margin: 10px;
}
.grouping-page-total-box .group-count-label{
    font-weight: 600;
}

.grouping-page-total-box .sub-title{
    font-weight: 600;
    margin-bottom: 20px;
    gap: 10px;
}
.grouping-page-total-box .grouping-list-ul{
    padding-left: 0;
    margin: 0 auto;
}