.task-detail-container .task-detail-header {
    display:flex;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    margin: 105px 0 49px 0;
    width: 100%;
}
.task-detail-container{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.task-detail-container .task-detail-body {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;

}

.task-detail-container .task-detail-body-container {
    width: 100%;
    min-width: 100%;
    padding: 47px 61px 40px 61px;
    background-color: white;
    border-radius: 10px;
}

.task-detail-container .task-detail-body-header{
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 13px 0;
    width: 100%;
}

.task-detail-container .task-detail-body-url button {
    background-color: var(--purple);
    color: white;
    border: none;
    padding: 10px 20px 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
}

.task-detail-body-url{
    display: flex;
    align-items: flex-end;
    height:30px;
}

.task-detail-body-url button {
    display: flex;
    align-items: center;
    height: 30px;

}

.task-detail-container .task-detail-body-url button:hover {
    background-color: #5a1dc2;
}

.task-detail-container .task-detail-body-sub {
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 2px;
}

.task-detail-container input[type="file"] {
    margin-top: 10px;
}

.task-detail-container textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
}

.task-detail-container .bar3{
    width: 100%;
    height: 1px;
    background-color: #A6A6A6;
}

.task-detail-container .MenteeTaskDetailInputBox {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
    overflow-y: auto;
    line-height: 1.5;
    font-size: 14px;
    background-color: #f9f9f9;
}

.task-detail-container .MenteeTaskDetailInputBox:focus {
    border-color: var(--purple);
    outline: none;
}

.task-detail-container .Mentee-task-detail-button{
    display: flex;
    flex-direction: column;
}

.task-detail-container .task-detail-body-end{
    font-weight: bold;
    margin: 0 0 14px 0;
}

.task-detail-container .task-detail-sub-file-upload-button {
    all: unset;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray);
    color: var(--black);
    border: 1px solid var(--black);
    box-shadow:none;
    padding: 0.3vh 1vh;
    width: 18vh;
    height: 4vh;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
}

.task-detail-container .Mentee-task-detail-uploadButton-container{
    display:flex;
}

.task-detail-container .Mentee-task-detail-uploadfile-name{
    margin: 5px 0 0 15px;
    text-align: center;
    align-content: center;
}

.task-detail-container .task-detail-sub-file-upload-button:hover{
    background-color: var(--gray);
}

.task-detail-container .Mentee-task-detail-sub-button-container{
    display:flex;
    justify-content: left;
}

.task-detail-container .task-detail-sub-button {
    background-color: var(--yellow);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 20px;
    width: 120px;
    border-radius: 10px;
    margin-left: 83%;
}