.task-add-page-container{
    width: 65%;
}

.taskAddBody{
    background-color: var(--white);
    border-radius: 10px;
    padding: 0 0 40px 0;
    margin: 0 0 20px 0;
}
.task-add-page-container .taskAddHeader{
    font-family: "Noto Sans KR", sans-serif;
}

.evalButton-delete{
    border:none;
    background-color: var(--light-gray);
    border-radius: 10px;
    height: 30px;
    width: 50px;
    border: 0;
    margin-left: 5px;
    transition: background-color 0.3s ease; /* 배경색 변화 효과 */
}

.evalButton-delete:hover{
    background-color:var(--black)
}

.TaskAddButtonBox{
    display:flex;
    height: 5.6vh;
    border: none;
    justify-content: center;
    align-items: center;
    padding:0;
    width: 7vw;
}

.task-add-page-container .submitButton-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.task-add-page-container .task-submit-button {
    background-color: var(--purple);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* 배경색 변화 효과 */
}

.task-submit-button:hover{
    background-color:var(--dark-purple) ;
}
.task-add-page-container .evalContent{
    width: 250px;
    height: 25px;
    border-radius: 10px;
    border: 1px #ccc solid;
    text-align: center;
}
.task-add-page-container .evalButton{
    width: 50px;
    height: 30px;
    border-radius: 10px;
    border: 1px #ccc solid;
    background: #7031FC;
    color: white;
    transition: background-color 0.3s ease; /* 배경색 변화 효과 */
}

.evalButton:hover{
    background-color:var(--dark-purple) ;
}

.task-add-page-container .evalscore{
    width: 50px;
    height: 25px;
    border-radius: 10px;
    border: 1px #ccc solid;
    text-align: center;
}
.task-add-page-container table {
    width: 100%;
    border-collapse: collapse; /* 테이블 경계선 합치기 */
}

.task-add-page-container th, .task-add-page-container td {
    border: 1px solid #ccc;
    padding: 10px 2px;
    text-align: center;
}

.task-add-page-container th {
    background-color: #f4f4f4;
    font-weight: bold;
}
.task-add-page-container .table-detail{
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 10px;
    padding: 0 100px 0 0;
}

.task-add-page-container .header-title {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin: 105px 0 46px 0;
}
.task-add-page-container .taskAddContainer {
    display: flex;
    flex-direction: column;
    padding: 62px 0 0 132px;
    gap: 19px;

}
.task-add-page-container .container-line {
    display: flex;
}
.task-add-page-container .task-name,
.task-depart,
.task-round,
.task-type,
.task-content {
    margin-right: 64px;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    display: inline;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
}
.task-add-page-container .task-attach {
    margin-right: 24px;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    display: inline;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
}
.task-add-page-container .task-attach-input {
    display: none; /* 기본 파일 선택 버튼 숨기기 */
}
.task-add-page-container .file-name {
    margin-left: 10px;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    display: inline-block;
    align-content: center;
}
.task-add-page-container .file-upload-label {
    display: inline-block;
    padding: 7px 10px;
    background-color: var(--purple); /* 버튼 배경색 */
    color: white; /* 글자 색 */
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease; /* 배경색 변화 효과 */
}
.task-add-page-container .file-upload-label:hover {
    background-color: var(--dark-purple); /* 마우스 호버 시 배경색 변경 */
}
.task-add-page-container .file-name {
    margin-left: 10px;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    display: inline-block;
}
.task-add-page-container .task-name-input {
    width: 60%;
    height: 15px;
    padding: 5px;
    margin-left: 4.2px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
}
.task-add-page-container .task-content-input {
    width: 60%;
    height: 202px; /* 과제 내용 입력란의 높이 */
    padding: 5px;
    margin-left: 4.2px;
    border: 1px solid var(--light-gray );
    border-radius: 10px;
    font-size: 14px;
    resize: none; /* 크기 조절 기능 비활성화 (필요시 제거) */
    overflow-y: auto; /* 세로 스크롤이 가능하도록 설정 */
    vertical-align: top; /* 텍스트가 상단에 정렬되도록 설정 */
}
.task-add-page-container .table-container{
    margin:20px 0 40px 0;
}

.task-add-page-container .task-round-input,
.task-type-input {
    width: 100px;
    height: 30px;
    padding: 5px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
}

.task-add-page-container .task-depart-input {
    width: 100px;
    height: 30px;
    padding: 3px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
}

.task-add-page-container .task-group-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: var(--purple);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease; /* 배경색 변화 효과 */
}

.task-group-button:hover{
    background-color: var(--dark-purple)
}

.submitButton-container{
    display:flex;
    gap:2vw;
}

.task-submit-cancel{
    background-color: var(--gray);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* 배경색 변화 효과 */
}

.task-submit-cancel:hover{
    background-color: var(--black);
}